.each_prjct{
    background: #0886cf; 
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 10px;
    color: aliceblue;
}
@media screen and (max-width:768px) {
     .prjc{
        display: flex;
        flex-direction: column;
     }
    
}
