#intro {
    background: #0886cf;
    color: #fff;
}
#se {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/* tech skills */

#technologies ul  { 
    display: grid;
    grid-template-columns: repeat(5,1fr);
    place-items: center;
    justify-content: center;
    height: auto;
    gap: 7%;
}
#technologies ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.skills img {
    width: 4rem;
}
@media screen and (max-width:768px) {
    #se{
       width: 20vw;
       height: 20vw;
    }
    #technologies ul{
        grid-template-columns: repeat(3,1fr);
    }
   
}

